<div class="container-fluid">
    <div class="panel panel-table">
        <div class="row">
            <h1>Subscribe to product</h1>            
        </div>
        <p>
            <b>A new subscription will be created as follows:</b>
        </p>
        <!-- ko if: product -->
        <div class="row">
            <div class="col-md-6">Product</div>
            <div class="col-md-6" data-bind="text: product().name"></div>
        </div>
        <div class="row">
            <div class="col-md-6">Description</div>
            <div class="col-md-6" data-bind="text: product().description"></div>
        </div>
        <div class="row">
            <div class="col-md-6">Subscription name</div>
            <div class="col-md-6">
                <input type="text" class="form-control" data-bind="value: subscriptionName" />
            </div>
        </div>
            <!-- ko if: termsOfUse -->
            <div class="row">
                <div class="col-md-12"><input type="checkbox" data-bind="checked: isAgreed" />
                    By subscribing to this Product, I agree to the Terms of Use.
                    <a href="#" data-bind="click: toggle, text: showHideLabel"></a>
                </div>
            </div>
                <!-- ko if: showTerms -->
                <div class="row">
                    <textarea class="col-md-12" rows="10" readonly data-bind="text: termsOfUse"></textarea>
                </div>
                <!-- /ko -->
            <!-- /ko -->
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="button button-default" data-bind="click: confirm, enable: isChangesReady()">Confirm</button>
            </div>
            <div class="col-md-3">
                <!-- <button type="button" class="button button-default" data-bind="click: cancel">Cancel</button> -->
            </div>
        </div>
        <!-- /ko -->
        
    </div>
</div>