<fieldset class="form flex flex-item flex-item-grow no-overflow">
    <div class="form-group flex flex-column" style="display: flex; margin-bottom: 0;">
        <size-editor
            params="{ features: 'width,height', allowUnits: 'px,%', sizeConfig: htmlCodeSizeStyles, onUpdate: onContainerSizeUpdate }">
        </size-editor>
        <label for="htmlCode" class="form-label">
            HTML code
        </label>
        <div class="input-group flex-item flex-item-grow">
            <!-- ko if: editorLoading() -->
            <spinner class="fit"></spinner>
            <!-- /ko -->
            <div id="htmlEditor" style="width: 100%;"></div>
        </div>
    </div>
</fieldset>