/**
    Styles for React Fluent UI (fui) based common components
*/

// For consistency with designs and admin panel
.fui-search-icon {
    color: #0078D4;
    transform: scaleX(-1);
}

.fui-MenuItem .fui-MenuItem__checkmark {
    margin-top: 0;
}

.fui-filterBy-container {
    margin: 0 calc(-1 * var(--spacingHorizontalM));
}

.align-center {
    display: flex;
    align-items: center;
}
