/**
    Styles for React Fluent UI (fui) based common components
*/

// For consistency with designs and admin panel
.fui-search-icon {
    color: #0078D4;
    transform: scaleX(-1);
}

.fui-MenuItem .fui-MenuItem__checkmark {
    margin-top: 0;
}

.fui-toggleGroup {
    margin: 0 0.5rem;
    padding: 0 0.25rem;
    border: none;
    background: none;
}

.fui-filterBy-container {
    margin: 0 calc(-1 * var(--spacingHorizontalM));
}
