fui-operation-details {
    width: 100%;
    padding-top: 2rem;

    .operation-details-title {
        padding: .5rem 0;
        border-bottom: 1px solid #D1D1D1;
        margin-bottom: 1.75rem;
    }

    .operation-details-content {
        max-width: 800px;
    }

    .operation-description {
        padding-top: 1rem;

        p:only-of-type {
            margin-bottom: 0;
        }
    }

    .operation-tags {
        padding-top: 1rem;

        > * {
            margin-right: .5rem;
        }
    }

    .operation-info-caption {
        padding-right: .5rem;
        font-size: 12px;
        line-height: 16px;

        &.ws-caption {
            width: 75px;
        }
    }

    .operation-text {
        flex: 1;
    }

    .operation-definitions {
        padding-top: 2rem;
    }

    .operation-request,
    .operation-response,
    .operation-definition {
        padding-top: 2.5rem;
    }

    .operation-subtitle1 {
        margin-bottom: 1rem;
    }

    .operation-subtitle2 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .operation-content-type-dropdown {
        min-width: 130px;
        margin-left: .5rem;
    }

    .operation-body {
        border-bottom: 1px solid #D1D1D1;
        margin: 1.5rem 0;
    }

    pre {
        margin: 0;
    }

    .td-combinations {
        margin: 1.5rem 0;
    }

    .td-combination-name {
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .td-example {
        padding: .5rem;
        border-radius: .25rem;
        background: #F0F0F0;
        color: #80215D;
        max-width: fit-content;
    }

    .truncate-text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.operation-table {
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    margin-bottom: 1.75rem;
    overflow: hidden;
}

.operation-table-header {
    padding: .5rem 1rem;
    background-color: #F5F5F5;

    .collapse-button{
        margin-right: 1rem;

        &.is-collapsed {
            transform: rotate(180deg);
        }
    }
}

.operation-table-body-row {
    padding: 1rem;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        border-bottom: 1px solid #D1D1D1;
    }
}

.operation-table-body-console {
    padding: 2rem 1rem 2.5rem;

    .auth-detail,
    .param-detail {
        &:not(:first-of-type) {
            margin-top: 1.5rem;
        }
    }

    .param-name,
    .param-value,
    .param-remove {
        > * {
            min-width: calc(100% - .5rem);
        }
    }

    .param-name {
        width: 40%;

        > label {
            margin-bottom: 0;
        }
    }

    .param-value {
        width: 53%;
    }

    .format-selection {
        margin-right: 1rem;
    }

    .request-body-dropdown {
        width: 100%;
    }

    .raw-textarea-field,
    .request-body-upload-button,
    .ws-send-button {
        margin: 1rem 0;
    }

    .raw-textarea {
        min-height: 200px;
    }

    .body-revert-button {
        margin-top: 1rem;
    }

    &.validation-error {
        background-color: #f5c6cb;
    }
}

.console-drawer {
    .console-method {
        margin: 1rem 0;

        .operation-method {
            margin-right: 1rem;
        }
    }

    .request-language-dropdown {
        width: 100%;
    }

    .request-copy-button {
        margin: 0 .5rem;
    }

    .auth-detail {
        max-width: 435px;
    }

    .monaco-editor {
        height: 500px !important;
    }

    .ws-output-header,
    .ws-output-placeholder {
        margin: 1rem 0;
    }

    .ws-output-table {
        display: block;
        max-height: 500px;
        overflow: auto;
    }

    .send-request-button,
    .ws-connect-button {
        margin-bottom: 2rem;
    }

    .fui-Field__validationMessageIcon {
        vertical-align: 1px;
    }
}

.console-gql-drawer {
    display: flex;
    flex-direction: column;
}

.console-gql-header {
    background-color: #EBEBEB;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    padding: .5rem 1.5rem;
}

.console-gql-body {
    .gql-search {
        width: 100%;
        margin-bottom: 1.5rem;

        input {
            // These styles are needed to remove the search icon used for default search input
            background: none;
            padding-left: 5px !important;
        }
    }

    .gql-explorer {
        width: 350px;
        padding: 2rem 1.5rem 2rem 0;
        border-right: 1px solid #E6E6E6;
        overflow: auto;
        max-height: calc(100vh - 150px);

        .level0-node-label {
            text-transform: capitalize;
        }
    }

    .gql-query {
        width: calc(100% - 350px);
    }

    .gql-query-editor {
        padding-top: 2rem;
        border-bottom: 1px solid #E6E6E6;
    }

    .gql-tabs {
        margin: .75rem 0 1.5rem .75rem;
    }

    .gql-tab-content {
        &:not(.query-variables-tab) {
            margin-left: 1.5rem;
        }

        .param-detail {
            margin-bottom: 1rem;
        }

        .param-name {
            min-width: 187px; // FUI input width
        }

        .param-value {
            margin: 0 .5rem;
        }
    }
}

.console-gql-node {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;

    &.child-node {
        padding-left: 20px;
    }

    &.input-node {
        .fui-Input,
        .fui-Dropdown {
            margin-left: 2rem;
            min-width: unset;
            width: calc(100% - 2rem);
        }

        .fui-Checkbox__label {
            color: #707070;
        }
    }
}