fui-operation-list {
    flex-basis: 100%;

    .operation-list-collapsible {
        max-height: 100%;
        overflow: hidden;

        &.is-collapsed {
            max-height: 0;
        }
    }

    .collapse-operations-button {
        &.is-collapsed span {
            transform: rotate(180deg);
        }
    }

    .operation-list-title {
        width: 100%;
    }

    .operation-search-container {
        margin: 1rem 0;

        .operation-search {
            width: 100%;
        }

        .operation-filter {
            margin-left: .625rem;
        }
    }

    .operation {
        padding: 6px;
        margin-bottom: .5rem;
        border-left: 5px solid transparent;

        &.is-selected-operation {
            background-color: #EBEBEB;
            border-left-color: #0F6CBD;
            border-radius: 0 .25rem .25rem 0;
        }
    }

    .operation-accordion-panel {
        margin-left: 0;
        margin-right: 0;
    }

    .operation-name {
        width: 100%;

        &.nowrap {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .operation-method {
        width: 75px;
    }

    .show-more-operations {
        margin: 4px 0 0 11px;
    }

    .operation-type-dropdown {
        width: 100%;
        margin-top: 1rem;
    }
}

.fui-tags-popover {
    .tags-search {
        width: 100%;
    }

    .tags-no-results {
        padding: .375rem;
    }
}