fui-api-list-runtime, // TMP solution while KO is not fully migrated to React/FUI
fui-product-list-runtime,
fui-product-apis-runtime {
    width: 100%;
}

.fui-table {
    border: 1px solid #D1D1D1;
    border-radius: 0.25rem;
    border-spacing: 0;
    border-collapse: inherit !important; // Very important, having this set to collapse will break border-radius
    overflow: hidden;

    // The bottom borders of table cells will be used as the borders between rows
    tr + tr th,
    tr + tr td {
        border-top: 0;
    }

    // The right borders of table cells will be used as the borders between columns
    th + th,
    th + td,
    td + th,
    td + td {
        border-left: 0;
    }

    // Remove the outer edge borders from the table cells, as the <table> element will have the border property set for the outside
    th:first-child,
    td:first-child {
        border-left: 0;
    }

    th:last-child,
    td:last-child {
        border-right: 0;
    }

    tr:first-child th,
    tr:first-child td {
        border-top: 0;
    }

    tr:last-child th,
    tr:last-child td {
        border-bottom: 0;
    }

    th,
    td {
        padding: 1rem .75rem;
    }

    th:first-of-type,
    td:first-of-type {
        padding-left: 1.5rem;
    }

    th:last-of-type,
    td:last-of-type {
        padding-right: 1.5rem;
    }

    p:only-of-type {
        margin: 0;
    }

    .fui-table-headerRow {
        background: #F5F5F5;
    }

    .fui-table-collapsibleRow {
        cursor: pointer;

        &:not(:hover) {
            background: #FAFAFA;
        }
    }
}

.fui-list-tag-cards-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .fui-list-tag-cards {
        padding: 1rem;
        border-radius: 0.25rem;
        box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.14);
        cursor: pointer;
    }
}

.fui-list-cards-container {
    display: grid;
    width: 1100px; /* TODO */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1.5rem;

    .fui-list-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.24), 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.28);

        .fui-Subtitle1 {
            display: block;
            margin: 0 0 0.75rem;
        }

        .fui-list-card-tags {
            display: flex;
            gap: 0.75rem;
            margin-bottom: 0.75rem;

            span {
                color: #616161;
                font-style: normal;
                font-weight: 700;
                line-height: 1rem;

                &:not(:last-of-type) {
                    padding-right: 0.75rem;
                    border-right: 1px solid #616161;
                }
            }
        }
    }
}
