@font-face {
    font-family: 'icons';
    src:  url('fonts/icons.eot?kkkdmx');
    src:  url('fonts/icons.eot?kkkdmx#iefix') format('embedded-opentype'),
      url('fonts/icons.ttf?kkkdmx') format('truetype'),
      url('fonts/icons.woff?kkkdmx') format('woff'),
      url('fonts/icons.svg?kkkdmx#icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.paperbits-icon {
    display: inline-block;
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    // font-size: 1.3em;
    vertical-align: middle;
    speak: none;
    text-transform: none;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// .paperbits-icon.icon-zoom-2:before {
//     content: "\ea02";
// }

// .paperbits-icon.icon-download {
//     @include icon-18px();
//     background-color: transparent;
//     background-size: 100% 100%;
//     background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzgyLjU2IDIzMy4zNzZBMTUuOTYgMTUuOTYgMCAwIDAgMzY4IDIyNGgtNjRWMTZjMC04LjgzMi03LjE2OC0xNi0xNi0xNmgtNjRjLTguODMyIDAtMTYgNy4xNjgtMTYgMTZ2MjA4aC02NGExNi4wMTMgMTYuMDEzIDAgMCAwLTE0LjU2IDkuMzc2Yy0yLjYyNCA1LjcyOC0xLjYgMTIuNDE2IDIuNTI4IDE3LjE1MmwxMTIgMTI4QTE1Ljk0NiAxNS45NDYgMCAwIDAgMjU2IDM4NGM0LjYwOCAwIDguOTkyLTIuMDE2IDEyLjAzMi01LjQ3MmwxMTItMTI4YzQuMTYtNC43MDQgNS4xMi0xMS40MjQgMi41MjgtMTcuMTUyeiIvPjxwYXRoIGQ9Ik00MzIgMzUydjk2SDgwdi05NkgxNnYxMjhjMCAxNy42OTYgMTQuMzM2IDMyIDMyIDMyaDQxNmMxNy42OTYgMCAzMi0xNC4zMDQgMzItMzJWMzUyaC02NHoiLz48L3N2Zz4=");
// }

// .paperbits-icon.icon-openapi {
//     @include icon-18px();
//     background-color: transparent;
//     background-size: 100% 100%;
//     background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEyLjAxIiBoZWlnaHQ9IjExMi4wMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcz48c3R5bGU+LmNscy0xLC5jbHMtMywuY2xzLTR7ZmlsbDojMDAwfS5jbHMtMXtvcGFjaXR5Oi42fS5jbHMtMntmaWxsOiM5Mzk1OTh9LmNscy0ze29wYWNpdHk6Ljl9LmNscy00e29wYWNpdHk6Ljc1fS5jbHMtNXtmaWxsOiM2ZDZlNzF9PC9zdHlsZT48L2RlZnM+PHBhdGggZmlsbD0ibm9uZSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBkPSJNLTEtMWgxMTQuMDF2MTE0LjAxSC0xeiIvPjxnPjxwYXRoIGlkPSJzdmdfMSIgZD0iTTI5LjYgNjQuNDFILjA0djEuNjJjMCAuMzIuMDUuNjQuMDggMXYuMjJxLjA1LjUzLjEyIDEuMDd2LjFjMCAuMzguMS43Ni4xNSAxLjE0YTQ5LjQ4IDQ5LjQ4IDAgMCAwIDEuNTMgN2wuMzMgMS4wOHYuMTJjLjEuMzIuMjEuNjQuMzMgMWwuMDkuMjQuMy44NC4xNC4zOC4yNy42OS4zOC40My4yMy41NC4yOS42Ni4xOS40NC4zNy43OS4xMi4yNS40NC45LjA3LjEzLjUyIDEgLjEyLjIgMjUuMjQtMTUuMjEuMDktLjA2YTIwLjA3IDIwLjA3IDAgMCAxLTEuODQtNi41N3oiIGNsYXNzPSJjbHMtMSIvPjxwYXRoIGlkPSJzdmdfMiIgY2xhc3M9ImNscy0yIiBkPSJNMS40NCA3Ny45NmwuMDEuMDMuOTUtLjMtLjk2LjI3eiIvPjxwYXRoIGlkPSJzdmdfMyIgZD0iTTM2Ljg2IDc3Ljk4bC0uMDcuMDctMjAuODIgMjAuODIuMzIuMy41OS41Mi4zLjI3LjcxLjYuMTkuMTYuODIuNjIuMS4wOC44OS42OXExLjg4IDEuNDEgMy44OSAyLjYzbC4xNC4wOC44Mi41Mi40Ny4yNy40NS4yNS44MS40OGguMTFjLjc2LjQgMS41My43NiAyLjMgMS4xMmwuNzQtMS43OSAxMC40Ny0yNS40M3YtLjA5YTIwIDIwIDAgMCAxLTMuMjMtMi4xN3oiIGNsYXNzPSJjbHMtMyIvPjxwYXRoIGlkPSJzdmdfNCIgZD0iTTM0LjcgNzUuOWMtLjIyLS4yNS0uNDQtLjUxLS42NS0uNzdzLS4zNy0uNDYtLjU0LS43LS4zOS0uNTQtLjU4LS44Mi0uMzctLjU2LS41NC0uODRMNy4xMSA4OC4wMWMuMzkuNjQuNzkgMS4yNyAxLjIxIDEuODl2LjEzbC4xLjE1cS42NiAxIDEuMzUgMS45MWwuNjEuOC4wOC4xLjY1LjgxLjM2LjMxLjYuNzEuMjcuMy41Mi41OS4zLjMyLjEzLjE1LjM5LjQyLjE2LjE2LjcuNzIgMjAuODUtMjAuODVhOS40NyA5LjQ3IDAgMCAxLS42OS0uNzN6IiBjbGFzcz0iY2xzLTQiLz48cGF0aCBpZD0ic3ZnXzUiIGQ9Ik02Mi4zMyA3Ny45N2wtLjcuNTQuMDUuMDkgMTUuMiAyNS4yM2MuNy0uNDYgMS40LS45MyAyLjA4LTEuNDNhNTAuMzQgNTAuMzQgMCAwIDAgNC4yNy0zLjUzTDYyLjQxIDc4LjA1bC0uMDgtLjA4eiIgY2xhc3M9ImNscy0zIi8+PHBhdGggaWQ9InN2Z182IiBkPSJNNzQuOTcgMTA1LjAzeiIgY2xhc3M9ImNscy0yIi8+PHBhdGggaWQ9InN2Z184IiBkPSJNNzUgMTA1LjAxbC4yLS4xMS0uMi4xMXoiIGNsYXNzPSJjbHMtMiIvPjxwYXRoIGlkPSJzdmdfOSIgY2xhc3M9ImNscy0yIiBkPSJNNzQuOTYgMTA1LjAzaC4wMS0uMDF6Ii8+PHBhdGggaWQ9InN2Z18xMCIgY2xhc3M9ImNscy0yIiBkPSJNNzQuOTUgMTA1LjA0aC4wMWwtLjA0LS4wNi4wMy4wNnoiLz48cGF0aCBpZD0ic3ZnXzExIiBkPSJNNzQuOTcgMTA1LjAzeiIgY2xhc3M9ImNscy0yIi8+PHBhdGggaWQ9InN2Z18xMiIgY2xhc3M9ImNscy0yIiBkPSJNNzQuOTQgMTA1LjA1bC4wMS0uMDEtLjAxLjAxeiIvPjxwYXRoIGlkPSJzdmdfMTQiIGQ9Ik03NC45NiAxMDUuMDR6IiBjbGFzcz0iY2xzLTIiLz48cGF0aCBpZD0ic3ZnXzE1IiBkPSJNNzUgMTA1LjAxbC4yLS4xMS0uMi4xMXoiIGNsYXNzPSJjbHMtMiIvPjxwYXRoIGlkPSJzdmdfMTYiIGNsYXNzPSJjbHMtMiIgZD0iTTc1LjIgMTA0Ljl2LS4wMS4wMXoiLz48cGF0aCBpZD0ic3ZnXzE4IiBjbGFzcz0iY2xzLTIiIGQ9Ik03NC45MyAxMDUuMDVoLjAxLS4wMXoiLz48cGF0aCBpZD0ic3ZnXzE5IiBjbGFzcz0iY2xzLTIiIGQ9Ik03NC45NCAxMDUuMDV6Ii8+PHBhdGggaWQ9InN2Z18yMCIgZD0iTTc0LjY4IDEwNC4wNGwtLjUyLS44Ni0xNC4xOS0yMy41NmMtLjI5LjE3LS41OC4zMy0uODcuNDlzLS41OS4zMS0uOS40NWEyMC4wNiAyMC4wNiAwIDAgMS0xNC4zNyAxLjEyYy0uMzItLjEtLjYzLS4yMi0uOTQtLjMzcy0uNjMtLjIxLS45NC0uMzNsLTEwLjQ4IDI1LjQtLjQxIDEtLjM1Ljg1SDMwLjg4bC43NC4yOC45My4zNi40OC4xOGE0OS45MSA0OS45MSAwIDAgMCAxMC4xMiAyLjQybC40LjA1aC40MmwuOC4wOWguMmwxIC4wOGguMzNsLjg2LjA1SDQ5LjU5YTQ5Ljc5IDQ5Ljc5IDAgMCAwIDguMjMtLjY5aC4xNGwuODYtLjE2LjQ5LS4wOS41MS0uMTEuODQtLjE4aC4xNWE0OS44OCA0OS44OCAwIDAgMCAxMS45LTQuNDRsLjczLS40MS44Ny0uNDkuNi0uMzR2LS4wNi4wNmwuMi0uMTItLjQzLS43MXoiIGNsYXNzPSJjbHMtMSIvPjxwYXRoIGlkPSJzdmdfMjEiIGQ9Ik0zNi44OCA0Ni44NWwuNy0uNTQtLjA1LS4wOS0xNS4yLTI1LjIzYy0uNzEuNDYtMS40Ljk0LTIuMDkgMS40NGE0OS42NiA0OS42NiAwIDAgMC00LjI2IDMuNTJMMzYuOCA0Ni43N2wuMDguMDh6IiBjbGFzcz0iY2xzLTEiLz48cGF0aCBpZD0ic3ZnXzIyIiBkPSJNMTQuNTMgMjcuMzRjLS4yNC4yNC0uNDYuNDgtLjY5LjcybC0uNjkuNzJBNDkuNzMgNDkuNzMgMCAwIDAgOC45NCAzNGwtLjE4LjI2LS40Mi42Mi0uNDMuNjYtLjE2LjI0YTQ5LjQ4IDQ5LjQ4IDAgMCAwLTcuNyAyNC42M3YyaDI5LjQydi0xYzAtLjMzIDAtLjY3LjA1LTFhMjAgMjAgMCAwIDEgNC40NS0xMC43NGMuMjEtLjI2LjQ1LS41LjY3LS43NHMuNDMtLjUuNjctLjc0TDE0LjUzIDI3LjM0eiIgY2xhc3M9ImNscy0zIi8+PHBhdGggaWQ9InN2Z18yMyIgZD0iTTc1LjM3IDIwLjAxbC0uMTItLjA3LS43OC0uNDctLjQ2LS4yNi0uNDYtLjI2LS44LS40My0uMTMtLjA3YTQ5LjI4IDQ5LjI4IDAgMCAwLTUuMzItMi4zOWwtLjE0LS4wNS0xLjE5LS40M2E0OS44IDQ5LjggMCAwIDAtOS45NC0yLjM2bC0uNDEtLjA2aC0uNDFsLS44LS4wOWgtLjIybC0xLS4wOEg1MS41N3YyOS41NmEyMC41MyAyMC41MyAwIDAgMSA0LjQ4IDFMNzcuOCAyMS44Yy0uNzctLjczLTEuNTktMS4yNy0yLjQzLTEuNzl6IiBjbGFzcz0iY2xzLTMiLz48cGF0aCBpZD0ic3ZnXzI0IiBjbGFzcz0iY2xzLTUiIGQ9Ik0yNC41MyAyMC43OGwtLjUyLS44Ni41Mi44NnoiLz48cGF0aCBpZD0ic3ZnXzI1IiBjbGFzcz0iY2xzLTUiIGQ9Ik0yNC4wMSAxOS45MnoiLz48cGF0aCBpZD0ic3ZnXzI2IiBkPSJNNDguNjEgMTIuODNoLTFhNTAgNTAgMCAwIDAtNi4yMy42NGgtLjE0bC0uODYuMTYtLjQ5LjA5LS41MS4xMS0uODQuMThoLS4xNWE0OS45IDQ5LjkgMCAwIDAtMTEuOTIgNC41MmwtLjczLjQxLS44Ny40OS0uNjUuMzctLjE3LjEuNTIuODYgMTQuNzEgMjQuNDFjLjI5LS4xNy41OC0uMzMuODctLjQ5cy41OS0uMzEuOS0uNDVhMjAuMDcgMjAuMDcgMCAwIDEgNi42LTEuODVsMS0uMDhoMVYxMi44bC0xLjA0LjAzeiIgY2xhc3M9ImNscy00Ii8+PHBhdGggaWQ9InN2Z18yNyIgZD0iTTk5LjE1IDU5Ljk3di0uNzktLjRjMC0uMzEgMC0uNjItLjA4LS45M3YtLjI0cS0uMDUtLjUyLS4xMS0xdi0uMTdxLS4wNy0uNTYtLjE1LTEuMTJhNDkuNTYgNDkuNTYgMCAwIDAtMS41Mi03cS0uMTYtLjUzLS4zMy0xLjA2di0uMTRjLS4xLS4zMi0uMjEtLjY0LS4zMi0xbC0uMDktLjI2LS4zLS44Mi0uMTUtLjM5LS4yNy0uNjgtLjIyLS41My0uMjItLjUzLS4yOS0uNjctLjE3LS4zOC0uMzctLjgtLjEyLS4yNC0uNDUtLjkxLS4wNy0uMTMtLjUyLTFhNDkuNDkgNDkuNDkgMCAwIDAtMi44Mi00LjU4TDY4LjgyIDU1Ljk2YTIwLjUxIDIwLjUxIDAgMCAxIDEgNC40OGgyOS4zNWMtLjAxLS4xOC0uMDEtLjMyLS4wMi0uNDd6IiBjbGFzcz0iY2xzLTMiLz48cGF0aCBpZD0ic3ZnXzI4IiBkPSJNNjkuNzIgNjIuNDF2MWMwIC4zMyAwIC42Ny0uMDUgMWEyMCAyMCAwIDAgMS00LjQ1IDEwLjc0Yy0uMjEuMjYtLjQ1LjUtLjY3Ljc0cy0uNDMuNS0uNjcuNzRsMjAuODUgMjAuODVjLjI0LS4yNC40Ni0uNDguNjktLjcybC42OS0uNzJhNDkuOCA0OS44IDAgMCAwIDQuMjItNS4yNGwuMTUtLjIxLjQ2LS42Ny40LS42MS4xOS0uM2E0OS40NiA0OS40NiAwIDAgMCA3LjY4LTI0LjYxdi0xLTFINjkuNzJ2LjAxeiIgY2xhc3M9ImNscy00Ii8+PHBhdGggaWQ9InN2Z18yOSIgZD0iTTEwNy45NyA0LjA1YTEzLjgxIDEzLjgxIDAgMCAwLTIyLjE0IDE1LjlMNTUuNzQgNTAuMDRhMTMuODEgMTMuODEgMCAxIDAgNi4yMyA2LjIzbDMwLjA5LTMwLjA5YTEzLjgxIDEzLjgxIDAgMCAwIDE1LjkxLTIyLjEzeiIvPjwvZz48L3N2Zz4=");
// }

// .paperbits-icon.icon-wadl {
//     @include icon-18px();
//     background-color: transparent;
//     background-size: 100% 100%;
//     background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iLTI4MCAzNzIgNTAgNTAiPjxwYXRoIGZpbGw9IiM1OUI0RDkiIGQ9Ik0tMjM1IDM3OC44bC00LjgtNC44LTItMkgtMjc3djUwaDQ0di00MS4yeiIvPjxwYXRoIG9wYWNpdHk9Ii44IiBmaWxsPSIjRkZGIiBkPSJNLTI0MiAzNzRoLTMzdjQ2aDQwdi0zOWgtN3oiLz48cGF0aCBmaWxsPSIjNTlCNEQ5IiBkPSJNLTI2MC45OTYgNDA3LjQ4MmwtMi40MzcgOC44OTNoLTEuNjY4bC0xLjY5My02LjIyYTQuMjQgNC4yNCAwIDAgMS0uMTMtLjg2OGgtLjAyNWE0LjE4IDQuMTggMCAwIDEtLjE0OS44NTVsLTEuNjk5IDYuMjMyaC0xLjcwNmwtMi40ODctOC44OTNoMS42MTlsMS42MTIgNi41MTJjLjA2Ni4yNzIuMTA3LjU1OC4xMjQuODU1aC4wMzFjLjAxNi0uMjExLjA3NC0uNDk2LjE3My0uODU1bDEuODIzLTYuNTEyaDEuNTE5bDEuNjg3IDYuNTYxYy4wNTguMjI0LjEwMS40ODguMTMuNzk0aC4wMjRjLjAxMy0uMjA2LjA2LS40NzkuMTQzLS44MThsMS41ODItNi41MzZoMS41Mjd6TS0yNTIuOTA5IDQxNi4zNzVoLTEuNjE4bC0uOC0yLjI2NGgtMy40OThsLS43NjkgMi4yNjRoLTEuNjEybDMuMzMtOC44OTNoMS42NjJsMy4zMDUgOC44OTN6bS0yLjgwOS0zLjQ2N2wtMS4yMzQtMy41NDdhNC4xNTUgNC4xNTUgMCAwIDEtLjExOC0uNTU4aC0uMDI1YTMuNjk1IDMuNjk1IDAgMCAxLS4xMjQuNTU4bC0xLjIyMiAzLjU0N2gyLjcyM3pNLTI1MS42ODggNDE2LjM3NXYtOC44OTNoMi41NjdjMy4yNzggMCA0LjkxNyAxLjQ0NSA0LjkxNyA0LjMzNSAwIDEuMzcyLS40NTUgMi40NzUtMS4zNjMgMy4zMDgtLjkxLjgzNC0yLjEzIDEuMjUtMy42NTkgMS4yNWgtMi40NjJ6bTEuNDctNy42NHY2LjM5NGgxLjE3OWMxLjAzNyAwIDEuODQ0LS4yODUgMi40MjEtLjg1Ni41NzctLjU3Ljg2NS0xLjM3Ni44NjUtMi40MTggMC0yLjA3OS0xLjA3Ny0zLjExOS0zLjIzMS0zLjExOWgtMS4yMzR6TS0yMzcuNjU0IDQxNi4zNzVoLTQuOTI0di04Ljg5M2gxLjQ3NnY3LjY0NmgzLjQ0OHYxLjI0N3pNLTI2Mi4zOTMgMzk4LjEzbC05LjY5Mi00LjY1NnYtMS4xNWw5LjY5Mi01LjA1OHYyLjA2MmwtNy4wODcgMy41MTZ2LjA0M2w3LjA4NyAzLjE5MXYyLjA1MnpNLTI1MC4xMjkgMzgzLjYzbC03LjUyMSAxOC4xNDZoLTIuMjlsNy40ODktMTguMTQ2aDIuMzIyek0tMjM3Ljc2NyAzOTMuNDA5bC05LjY5MiA0LjY1NnYtMi4wNTFsNy4wOTgtMy4xNTh2LS4wNjVsLTcuMDk4LTMuNTE3di0yLjA2Mmw5LjY5MiA1LjA0N3YxLjE1eiIvPjwvc3ZnPg==");
// }

// .paperbits-icon.icon-wsdl {
//     @include icon-18px();
//     background-color: transparent;
//     background-size: 100% 100%;
//     background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iLTI4MCAzNzIgNTAgNTAiPjxwYXRoIGZpbGw9IiNmOTAiIGQ9Ik0tMjM1IDM3OC44bC00LjgtNC44LTItMkgtMjc3djUwaDQ0di00MS4yeiIvPjxwYXRoIG9wYWNpdHk9Ii44IiBmaWxsPSIjRkZGIiBkPSJNLTI0MiAzNzRoLTMzdjQ2aDQwdi0zOWgtN3oiLz48cGF0aCBmaWxsPSIjZjkwIiBkPSJNLTI2MC45OTYgNDA3LjQ4MmwtMi40MzcgOC44OTNoLTEuNjY4bC0xLjY5My02LjIyYTQuMjQgNC4yNCAwIDAgMS0uMTMtLjg2OGgtLjAyNWE0LjE4IDQuMTggMCAwIDEtLjE0OS44NTVsLTEuNjk5IDYuMjMyaC0xLjcwNmwtMi40ODctOC44OTNoMS42MTlsMS42MTIgNi41MTJjLjA2Ni4yNzIuMTA3LjU1OC4xMjQuODU1aC4wMzFjLjAxNi0uMjExLjA3NC0uNDk2LjE3My0uODU1bDEuODIzLTYuNTEyaDEuNTE5bDEuNjg3IDYuNTYxYy4wNTguMjI0LjEwMS40ODguMTMuNzk0aC4wMjRjLjAxMy0uMjA2LjA2LS40NzkuMTQzLS44MThsMS41ODItNi41MzZoMS41Mjd6TS0yNTEuNjg4IDQxNi4zNzV2LTguODkzaDIuNTY3YzMuMjc4IDAgNC45MTcgMS40NDUgNC45MTcgNC4zMzUgMCAxLjM3Mi0uNDU1IDIuNDc1LTEuMzYzIDMuMzA4LS45MS44MzQtMi4xMyAxLjI1LTMuNjU5IDEuMjVoLTIuNDYyem0xLjQ3LTcuNjR2Ni4zOTRoMS4xNzljMS4wMzcgMCAxLjg0NC0uMjg1IDIuNDIxLS44NTYuNTc3LS41Ny44NjUtMS4zNzYuODY1LTIuNDE4IDAtMi4wNzktMS4wNzctMy4xMTktMy4yMzEtMy4xMTloLTEuMjM0ek0tMjM3LjY1NCA0MTYuMzc1aC00LjkyNHYtOC44OTNoMS40NzZ2Ny42NDZoMy40NDh2MS4yNDd6TS0yNjIuMzkzIDM5OC4xM2wtOS42OTItNC42NTZ2LTEuMTVsOS42OTItNS4wNTh2Mi4wNjJsLTcuMDg3IDMuNTE2di4wNDNsNy4wODcgMy4xOTF2Mi4wNTJ6TS0yNTAuMTI5IDM4My42M2wtNy41MjEgMTguMTQ2aC0yLjI5bDcuNDg5LTE4LjE0NmgyLjMyMnpNLTIzNy43NjcgMzkzLjQwOWwtOS42OTIgNC42NTZ2LTIuMDUxbDcuMDk4LTMuMTU4di0uMDY1bC03LjA5OC0zLjUxN3YtMi4wNjJsOS42OTIgNS4wNDd2MS4xNXoiLz48dGV4dCBzdHlsZT0ibGluZS1oZWlnaHQ6MTI1JSIgeD0iLTIzMi41OTgiIHk9IjQ2OC4zMjEiIHRyYW5zZm9ybT0ic2NhbGUoMS4xMjU3MyAuODg4MzEpIiBmb250LXdlaWdodD0iNDAwIiBmb250LXNpemU9IjEzLjM3MyIgZm9udC1mYW1pbHk9InNhbnMtc2VyaWYiIGxldHRlci1zcGFjaW5nPSIwIiB3b3JkLXNwYWNpbmc9IjAiIGZpbGw9IiNmOTAiPjx0c3BhbiB4PSItMjMyLjU5OCIgeT0iNDY4LjMyMSI+UzwvdHNwYW4+PC90ZXh0Pjwvc3ZnPg==");
// }

// .icon-text {
//     margin: 0 5px;
// }

.icon-download:before {
  content: "\e906";
}
.icon-openapi .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-openapi .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}
.icon-openapi .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.icon-openapi .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-openapi .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.icon-openapi .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}
.icon-openapi .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}
.icon-openapi .path8:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}
.icon-openapi .path9:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}
.icon-openapi .path10:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}
.icon-openapi .path11:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(147, 149, 152);
}
.icon-openapi .path12:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-openapi .path13:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-openapi .path14:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.icon-openapi .path15:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.icon-openapi .path16:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(109, 110, 113);
}
.icon-openapi .path17:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-openapi .path18:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.9;
}
.icon-openapi .path19:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.icon-openapi .path20:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}