.table {
    .row {
        width: 100%;
    }

    .table-head {
        display: flex;
        font-weight: bold;
        padding: 15px 0;
    }

    .table-body {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        padding: 15px 0;
    }
}