@font-face {
    font-family: "paperbits";
    src: url("fonts/paperbits-theme.eot");
    src: url("fonts/paperbits-theme.eot") format("embedded-opentype"), url("fonts/paperbits-theme.woff2") format("woff2"), url("fonts/paperbits-theme.woff") format("woff"), url("fonts/paperbits-theme.ttf") format("truetype"), url("fonts/paperbits-theme.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.text-font-display {
    font-family: $font-family-script;
}

.text-lg {
    font-size: 1.5em;
}

.text-sm {
    font-size: .8rem;
}

.numbers {
    list-style-type: decimal;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.lower-alpha {
    list-style-type: lower-alpha;
}

.lower-roman {
    list-style-type: lower-roman;
}

.upper-roman {
    list-style-type: upper-roman;
}

.list-disc {
    list-style-type: disc;
}

.list-circle {
    list-style-type: circle;
}

.list-square {
    list-style-type: square;
}

.container-thinner {
    max-width: 900px;
}

code,
pre {
    color: #37474f;
    background: #f7f7f7;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: .7em;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.caret {
    animation: blink 1s infinite step-start;
}
