@import "./custom-style.scss"; 

.p-0 {
	padding: 0 !important;
}

// Avatar menu + arrow down
.navbar-navigation-avatar-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 4rem;

	// Chevron down
	button:last-of-type {
		padding: 1.2rem 0rem !important;
		width: 2rem !important;
		font-size: 1.3rem;
		color: getColor(black, base) !important;
	}
}

.navbar-avatar-button {
	border-radius: 50%;
	background-color: getColor(white, base) !important;
	border: 1px solid getColor(grey, border) !important;
	height: 2.8rem !important;
	width: 2.8rem !important;
	padding: 0px !important;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
	.mdc-icon-button__ripple {
		--mdc-ripple-left: 8px !important;
		--mdc-ripple-top: 0px !important;
	}
}

.avatar-menu {
	position: absolute !important;
	width: 8rem;
	border: 0.5px solid getColor(grey, border);
	background-color: getColor(white, base) !important;
	box-shadow: 2px 2px 10px #00000029 !important;
	left: unset !important;
	right: 3rem !important;
	top: 4rem !important;
	display: flex !important;
	flex-direction: column;
	overflow: unset !important;

	.menu-divider {
		border: 1px solid #E0E0E0;
		opacity: 0.3;
		margin: 0 !important;
	}

	// Avatar menu item
	.menu-nav-link {
		letter-spacing: 0.24px;
		color: getColor(black, base);
		padding: 1rem !important;
		display: flex !important;
		align-items: center !important;
		cursor: pointer !important;

		&:hover {
			color: getColor(black, base) !important;
			background-color: getColor(white, background) !important;
			border-radius: unset !important;
		}

		a {
			@extend %roboto;
			font-size: 14px !important;

			// Menu item - icon
			.menu-nav-link-icon {
				color: getColor(blue, light);
				font-size: 13px !important;
				margin-right: 1rem;
			}

			// Menu item - label
			span:last-of-type {
				color: getColor(black, base) !important;
                font-size: 14px !important;
			}

            &:hover {
		        text-decoration: none !important;
            }
		}
	}
}

// Triangle above the menu
.avatar-menu:before,
.avatar-menu:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 85px;
	border: 11px solid transparent;
	border-bottom-color: #dddddd;
}

.avatar-menu:after {
	left: 85px;
	border: 10px solid transparent !important;
	border-bottom-color: #ffffff !important;
}