{
    "presets": [
        "@babel/env",
        "@babel/react",
        "@babel/preset-typescript"
    ],
    "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "version": "2022-03"
        //"decoratorsBeforeExport": true
      }
    ]
  ]  
}
