#admin-panel {
    background: #fff;
    height: 100%;
    width: $admin-panel-width;
    border-right: 1px solid grey;
    font-family: 'SegoeUI';

    input[type=search],
    input[type=text],
    textarea {
        font-family: unset;
        font-weight: unset;
        font-size: unset;
        color: unset;
        border: unset;
        background-color: unset;
        display: unset;
        width: unset;
    }
}

.side-panel {
    padding: 12px;
}

.portal-name {
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.icon-home {
    width: 18px;
    height: 20px;
    background-image: url('./icons/icon-admin-home.svg');
    margin-right: 7px;
}

.objects-list {
    margin: 10px 0 15px;
}
