#admin-side-panel {
    background: #fff;
    height: 100%;
    width: $admin-panel-width;
    border-right: 1px solid grey;
    font-family: 'SegoeUI';
}

#admin-side-panel,
.admin-modal {
    input[type=search],
    input[type=text],
    textarea {
        font-family: unset;
        font-weight: unset;
        font-size: unset;
        color: unset;
        border: unset;
        background-color: unset;
        display: unset;
        //width: unset;
    }
}

.side-panel {
    padding: 12px;
}

.portal-name {
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.icon-home {
    width: 18px;
    height: 20px;
    background-image: url('./icons/icon-admin-home.svg');
    margin-right: 7px;
}

.objects-list {
    margin: 10px 0 15px;
}

.nav-item-description-container {
    margin: 10px 8px 20px;
    
    .description-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.nav-item-outer-stack {
    width: 100%;

    .nav-item-inner-stack {
        opacity: 0;
    }

    &:hover .nav-item-inner-stack {
        opacity: 1;
    }
}

.admin-modal {
    max-width: 600px;
    width: 100%;
}

.admin-modal-header {
    background-color: #000;
    padding: 10px 15px 10px 50px;
}

.admin-modal-header-text {
    color: #fff;
    font-size: 18px;
    padding-right: 20px;
}

.admin-modal-content {
    padding: 40px 50px 200px;
}

#admin-top-panel {
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
}
