/* fix for positioning of the IntelliSense window of Monaco Editor */
code-editor {
    .codeEditorRoot {
        width: 100%;
    }

    .monaco-editor .overflowingContentWidgets {
        position: absolute;
        top: 0;
    }
}