@use "sass:color";
@use "mixins";
@use "variables";

.dragtarget {
    width: 100px;
    height: 100px;
    border: 1px dashed #ccc;
}

.dragsource {
    border: 1px solid #ccc;
    position: fixed;
    background: #fff;
}

.dragged {
    @include mixins.no-select();
    @include mixins.no-drag();
    @include mixins.no-pointer-events();
    z-index: variables.$z-index-dragging;
    cursor: grab;
    position: fixed;
    background: #fff;
}

.placeholder {
    border: 2px dashed #ccc;
    border: 2px dashed color.adjust(variables.$toolbox-background, $lightness: -20%);
    transition: height .5s ease-in-out;
    position: relative;
}

