.paperbits-icon {
    display: inline-block;
    font: normal normal normal 1em/1 "paperbits";
    font-size: 1.3em;
    vertical-align: middle;
    speak: none;
    text-transform: none;
    line-height: inherit;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*------------------------
    change icon size
  -------------------------*/
/* relative units */
.paperbits-sm {
    font-size: 0.8em;
}
.paperbits-lg {
    font-size: 1.2em;
}
/* absolute units */
.paperbits-16 {
    font-size: 16px;
}
.paperbits-32 {
    font-size: 32px;
}
/*----------------------------------
    add a square/circle background
  -----------------------------------*/
.paperbits-bg-square,
.paperbits-bg-circle {
    padding: 0.35em;
    background-color: #eee;
}
.paperbits-bg-circle {
    border-radius: 50%;
}
/*------------------------------------
    use icons as list item markers
  -------------------------------------*/
.paperbits-ul {
    padding-left: 0;
    list-style-type: none;
}
.paperbits-ul > li {
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
}
.paperbits-ul > li > .paperbits {
    margin-right: 0.4em;
    line-height: inherit;
}
/*------------------------
    spinning icons
  -------------------------*/
.paperbits-is-spinning {
    -webkit-animation: paperbits-spin 2s infinite linear;
    -moz-animation: paperbits-spin 2s infinite linear;
    animation: paperbits-spin 2s infinite linear;
}
@-webkit-keyframes paperbits-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes paperbits-spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes paperbits-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*------------------------
    rotated/flipped icons
  -------------------------*/
.paperbits-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.paperbits-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.paperbits-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.paperbits-flip-y {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.paperbits-flip-x {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
}
/*------------------------
      icons
  -------------------------*/

.paperbits-chat-45::before {
    content: "\ea02";
}

.paperbits-layout-11::before {
    content: "\ea03";
}

.paperbits-logo-youtube::before {
    content: "\ea07";
}

.paperbits-action-74::before {
    content: "\ea08";
}

.paperbits-align-center::before {
    content: "\ea09";
}

.paperbits-align-justify::before {
    content: "\ea0a";
}

.paperbits-align-left-2::before {
    content: "\ea0b";
}

.paperbits-align-right-2::before {
    content: "\ea0c";
}

.paperbits-size::before {
    content: "\ea0d";
}

.paperbits-edit-2::before {
    content: "\ea0e";
}

.paperbits-code::before {
    content: "\ea0f";
}

.paperbits-list-bullet::before {
    content: "\ea10";
}

.paperbits-list-numbers::before {
    content: "\ea11";
}

.paperbits-bold::before {
    content: "\ea12";
}

.paperbits-audio-91::before {
    content: "\ea13";
}

.paperbits-quote::before {
    content: "\ea14";
}

.paperbits-subscript::before {
    content: "\ea15";
}

.paperbits-superscript::before {
    content: "\ea16";
}

.paperbits-alert-circle-i::before {
    content: "\ea17";
}

.paperbits-chat-45-2::before {
    content: "\ea18";
}

.paperbits-cloud-25::before {
    content: "\ea19";
}

.paperbits-drop::before {
    content: "\ea1a";
}

.paperbits-database::before {
    content: "\ea1b";
}

.paperbits-m-location::before {
    content: "\ea1d";
}

.paperbits-map::before {
    content: "\ea1e";
}

.paperbits-mobile::before {
    content: "\ea1f";
}

.paperbits-desktop-screen::before {
    content: "\ea20";
}

.paperbits-tv-2::before {
    content: "\ea21";
}

.paperbits-mobile-landscape::before {
    content: "\ea22";
}

.paperbits-player-48::before {
    content: "\ea23";
}

.paperbits-tablet-2::before {
    content: "\ea24";
}

.paperbits-wifi-off::before {
    content: "\ea25";
}

.paperbits-wifi::before {
    content: "\ea26";
}

.paperbits-ban::before {
    content: "\ea27";
}

.paperbits-single-content-03::before {
    content: "\ea28";
}

.paperbits-single-copy-04::before {
    content: "\ea29";
}

.paperbits-single-copies::before {
    content: "\ea2a";
}

.paperbits-mirror-2::before {
    content: "\ea2b";
}

.paperbits-slider::before {
    content: "\ea2c";
}

.paperbits-abc::before {
    content: "\ea2f";
}

.paperbits-puzzle-10::before {
    content: "\ea30";
}

.paperbits-image-2::before {
    content: "\ea31";
}

.paperbits-paint-bucket-40::before {
    content: "\ea32";
}

.paperbits-palette::before {
    content: "\ea33";
}

.paperbits-transform-origin::before {
    content: "\ea34";
}

.paperbits-menu-right::before {
    content: "\ea35";
}

.paperbits-menu-34::before {
    content: "\ea36";
}

.paperbits-menu-left::before {
    content: "\ea37";
}

.paperbits-check-2::before {
    content: "\ea38";
}

.paperbits-preferences-circle::before {
    content: "\ea39";
}

.paperbits-underline::before {
    content: "\ea3a";
}

.paperbits-link-69-2::before {
    content: "\ea3d";
}

.paperbits-capitalize::before {
    content: "\ea3e";
}

.paperbits-color::before {
    content: "\ea3f";
}

.paperbits-anchor::before {
    content: "\ea40";
}

.paperbits-italic::before {
    content: "\ea41";
}

.paperbits-square-upload::before {
    content: "\ea42";
}

.paperbits-square-download::before {
    content: "\ea43";
}

.paperbits-simple-add::before {
    content: "\ea44";
}

.paperbits-simple-remove::before {
    content: "\ea45";
}

.paperbits-question::before {
    content: "\ea46";
}

.paperbits-circle-delete::before {
    content: "\ea47";
}

.paperbits-circle-add::before {
    content: "\ea48";
}

.paperbits-button-2::before {
    content: "\ea49";
}

.paperbits-enlarge-circle::before {
    content: "\ea4a";
}

.paperbits-components::before {
    content: "\ea4b";
}

.paperbits-align-bottom::before {
    content: "\ea4c";
}

.paperbits-align-right::before {
    content: "\ea4d";
}

.paperbits-align-top::before {
    content: "\ea4e";
}

.paperbits-align-center-horizontal::before {
    content: "\ea4f";
}

.paperbits-align-center-vertical::before {
    content: "\ea50";
}

.paperbits-align-left::before {
    content: "\ea51";
}

.paperbits-disperse::before {
    content: "\ea52";
}

.paperbits-zoom-out::before {
    content: "\ea53";
}

.paperbits-zoom-in::before {
    content: "\ea54";
}

.paperbits-trash-simple::before {
    content: "\ea55";
}

.paperbits-edit-72::before {
    content: "\ea56";
}

.paperbits-form::before {
    content: "\ea57";
}

.paperbits-zoom-99::before {
    content: "\ea58";
}

.paperbits-crop::before {
    content: "\ea59";
}

.paperbits-enlarge-vertical::before {
    content: "\ea5a";
}

.paperbits-enlarge-horizontal::before {
    content: "\ea5b";
}

.paperbits-rotate-right-2::before {
    content: "\ea5c";
}

.paperbits-rotate-left-2::before {
    content: "\ea5d";
}

.paperbits-margin-right::before {
    content: "\ea5e";
}

.paperbits-margin-left::before {
    content: "\ea5f";
}

.paperbits-alert::before {
    content: "\ea60";
}

.paperbits-cheque-3::before {
    content: "\ea61";
}

.paperbits-favourite-31::before {
    content: "\ea62";
}

.paperbits-at-sign::before {
    content: "\ea63";
}

.paperbits-gradient::before {
    content: "\ea64";
}

.paperbits-polaroid::before {
    content: "\ea65";
}

.paperbits-polaroid::before {
    content: "\ea65";
}

.paperbits-marker-2::before {
    content: "\ea67";
}

.paperbits-undo-25::before {
    content: "\ea68";
}

.paperbits-redo-26::before {
    content: "\ea69";
}

.paperbits-floppy-disk::before {
    content: "\ea6a";
}

.paperbits-upload::before {
    content: "\ea6b";
}

.paperbits-world::before {
    content: "\ea6e";
}

.paperbits-wireframe::before {
    content: "\ea6f";
}

.paperbits-send::before {
    content: "\ea70";
}

.paperbits-c-question::before {
    content: "\ea71";
}

.paperbits-help::before {
    content: "\ea71";
}
