.shutter {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: fixed;
}

.spinner,
.spinner * {
    box-sizing: border-box;
}

.spinner {
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 calc(15px / 2);
    border: 2px solid $color-base;
    border-radius: 50%;
    float: left;
    transform: scale(0);
    animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
}

.spinner .dot:nth-child(1) {
    animation-delay: calc(300ms * 1);
}

.spinner .dot:nth-child(2) {
    animation-delay: calc(300ms * 2);
}

.spinner .dot:nth-child(3) {
    animation-delay: calc(300ms * 3);
}

@keyframes hollow-dots-spinner-animation {
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}