/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ) !default;

/* Typography */
$font-family-base: 'OpenSans', sans-serif;
$font-size-base: 13px;
$font-weight-base: 500;
$font-weight-headers: 600;


/* Surfaces */
$surface-padding: 18px;
$surface-lineheight: 2em;

/* Balloons */
$balloon-background: #fff;

/* Toolboxes */
$toolbox-btn-size: 45px;
$toolbox-btn-padding: 5px;
$toolbox-btn-active-bg: #F9FBFC;
$toolbox-btn-active-border: #96989A;
$toolbox-border-radius: 4px;


/* Workshops */
$workshop-button-height: 2em;
$workshop-help-button-size: 24px;
$workshop-max-height: 300px;
$workshop-subtitle-color: #AFBD77;
$workshop-padding: 20px;

/* Thumbnails */
$thumbnail-width: 195px;
$thumbnail-height: 140px;
$thumbnail-hint-width: 50px;
$thumbnail-hint-height: 33px;

/* Others */
$z-index-base: 9100;
$z-index-balloon: 9110;
$z-index-dragging: 9120;
$z-index-arrows: 9130;
$z-index-selection: 9000;

$selection-width: 3px;
$list-item-size: 2.5em;

$hover-color: #F6F8F9;
$surface-background: #fff;
$button-border-color: #BDBFC1;
$help-button-font-size: 20px;
$help-button-font-family: 'Rockwell';

$button-active-outline-color: #96989A;
$button-active-bg-color: #F9FBFC;


/* Media library */
$thumbnail-progress-toast-label-color: #000;

$textbox-font-size: 0.9em;
$form-control-padding: 7px;

/* Palette */
$tab-selected-color: #A8CF45;
$collapse-button-color: #91D8F7;
$color-base: #5b5f61;
$color-danger: #e46969;
$color-watermark: #CCC;
$link-color: #00AFEF;
$arrow-active-color: #F58634;
$icon-base-color: #57585a;


