<div class="flex flex-row">
    <!-- ko if: working-->
    <spinner class="fit"></spinner>
    <!-- /ko -->

    <!-- ko ifnot: working -->
    <div class="flex-item flex-grow animation-fade-in">
        <!-- ko if: api -->
        <h1>
            <span data-bind="text: api().displayName"></span>
        </h1>
       
        <div class="form-group form-inline"> 
            <!-- ko if: versionApis().length > 0 -->
            <label for="apiVersions">Api version: </label>
            &nbsp;
            <select id="apiVersions" class="form-control"
                data-bind="options: versionApis, optionsValue: 'name', optionsText: 'apiVersion', value: selectedId">
            </select>
            &nbsp;
            <!-- /ko -->

            <div claas="download-api">
                <button class="btn btn-default dropdown-toggle" type="button" id="apiMenu" data-toggle="dropdown">
                    <i class="paperbits-icon icon-download"></i>
                    <span class="icon-text">API definition</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="apiMenu">
                    <li role="presentation">
                        <a role="menuitem" href="#" data-bind="click: downloadDefinition.bind($data,'openapi')">
                            <span class="paperbits-icon icon-openapi"></span>
                            <span class="icon-text">Open API 3 (YAML)</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" href="#" data-bind="click: downloadDefinition.bind($data,'openapi+json')">
                            <span class="paperbits-icon icon-openapi"></span>
                            <span class="icon-text">Open API 3 (JSON)</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" href="#" data-bind="click: downloadDefinition.bind($data,'swagger')">
                            <span class="paperbits-icon icon-openapi"></span>
                            <span class="icon-text">Open API 2 (JSON)</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" href="#" data-bind="click: downloadDefinition.bind($data,'wadl')">
                            <span class="paperbits-icon icon-wadl"></span>
                            <span class="icon-text">WADL</span>
                        </a>
                    </li>
                    <!-- ko if: api().type === 'soap'  -->
                    <li role="presentation">
                        <a role="menuitem" href="#" data-bind="click: downloadDefinition.bind($data,'wsdl')">
                            <span class="paperbits-icon icon-wsdl"></span>
                            <span class="icon-text">WSDL</span>
                        </a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>

        <!-- ko if: api().description  -->
        <p data-bind="markdown: api().description"></p>
        <!-- /ko -->


        <!-- /ko -->

        <!-- ko ifnot: api -->
        <p>No API selected</p>
        <!-- /ko -->
    </div>
    <!-- /ko -->


</div>