.section-default {
    background: #fff;
}

.section-hightlighted {
    background: linear-gradient(30deg, #d8544d 0%, #eeb087 100%);
}

.section-smoke {
    background: #f8f8f8;
}

.section-darker-smoke {
    background: #eef1f2;
}

.section-dark-smoke {
    background: #2a2f30;
}

.text-inverted  {
    color: #fff;
}