.fonts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.font-box {
    .font-family {
        font-size: 20px;
        text-decoration: none;
        color: $color-base;
        padding: 5px 10px;
    }
}