$primary-color: #57e2b2;
$light-gray: #f8f8f8;
$main-font-weight: 300;

.pricing-table {
    width: 100%;

    .card {
        border: 0;
        border-radius: 0;
        transition: all .3s ease-in-out;
        position: relative;
    
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 5px;
            background-color: $primary-color;
            transition: .5s;
        }
    
        .card-header {
            background-color: white;
            padding-left: 2rem;
            border-bottom: 0;
        }
    
        .card-title {
            margin-bottom: 1rem;
        }

        .card-footer {
            background: none;
            border: none;
        }
    
        .card-block {
            padding-top: 0;
        }
    
        .list-group-item {
            border: none;
            padding: .25rem;
            font-weight: $main-font-weight;
            margin: 0;

            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }
    }
    
    // Price
    .display-2 {
        font-size: 3rem;
        letter-spacing: -.3rem;
    
        .currency {
            font-size: 2rem;
            position: relative;
            top: -25px;
            letter-spacing: 0;
        }
    
        .period {
            font-size: 1rem;
            letter-spacing: 0;
        }
    }
}

