.picture {
    display: inline-block;
    line-height: 1em;
    text-align: center;
    max-width: 100%;
    user-select: none;
    margin: 0;

    * {
        pointer-events: none;
    }

    .content {
        //@include no-drag();
        position: relative;
        max-width: 100%;
    }

    &.noframe {
        .picture-caption {
            padding: 0;
            margin: 5px 0 0;
            font-weight: normal;
            text-align: center;
            width: 100%;
        }
    }

    &.polaroid {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);

        .picture-caption {
            font-size: .8em;
            line-height: 2.5em;
            padding: 0;
            margin: 5px 0 0;
            font-style: italic;
            width: 100%;
        }
    }

    &.circle {
        border-radius: 50%;
        overflow: hidden;
    }
}

img:not([src]) {
    width: 270px;
    height: 270px;
    display: block;
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        content: "";
    }

    &:after {
        content: attr(alt);
        line-height: 270px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 10px, rgba(0, 0, 0, 0.05) 10px, rgba(0, 0, 0, 0.05) 20px);
    }
}
