.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

text-right {
    text-align: right;
}

text-left {
    text-align: left;
}
@media (min-width: $breakpoint-sm) {
    .text-sm-justify {
        text-align: justify;
    }

    .text-sm-center {
        text-align: center;
    }

    text-sm-right {
        text-align: right;
    }

    text-sm-left {
        text-align: left;
    }
}
@media (min-width: $breakpoint-md) {
    .text-md-justify {
        text-align: justify;
    }

    .text-md-center {
        text-align: center;
    }

    text-md-right {
        text-align: right;
    }

    text-md-left {
        text-align: left;
    }
}
@media (min-width: $breakpoint-lg) {
    .text-lg-justify {
        text-align: justify;
    }

    .text-lg-center {
        text-align: center;
    }

    text-lg-right {
        text-align: right;
    }

    text-lg-left {
        text-align: left;
    }
}
@media (min-width: $breakpoint-xl) {
    .text-xl-justify {
        text-align: justify;
    }

    .text-xl-center {
        text-align: center;
    }

    text-xl-right {
        text-align: right;
    }

    text-xl-left {
        text-align: left;
    }
}
