<form data-bind="submit: submitData" style="overflow: auto; height: 100%;">
  <div class="flex flex-column fit">
    <div class="flex-item flex-item-grow">
      <!-- ko if: !commandToScaffold() || !!$component.config -->
      <label class="form-label" for="displayName">
        Name
        <input required type="text" id="displayName" class="form-control"
               data-bind="textInput: displayName, attr: {disabled: !!$component.config}"
        />
      </label>

      <div class="row flex flex-row form-group">
        <label class="form-check-label">Framework</label>
        <!-- ko foreach: { data: techAll, as: 'techObj'} -->
        <div class="form-check">
          <input required class="form-check-input" type="radio" name="tech"
                 data-bind="checked: $component.tech, attr: {id: 'tech-' + techObj.id, value: techObj.id, disabled: !!$component.config}">
          <label data-bind="text: techObj.name, attr: {for: 'tech-' + techObj.id}" style="display: inline"></label>
        </div>
        <!-- /ko -->
      </div>
      <!--
      <div class="row flex flex-row form-group">
        <label class="form-check-label">Choose source control</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sourceControl" id="sourceControlGit" value="git"
                 data-bind="checked: sourceControl === 'git'">
          <label style="display: inline" for="sourceControlGit">GIT</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sourceControl" id="sourceControlBackup" value="backup"
                 data-bind="checked: sourceControl === 'backup'">
          <label style="display: inline" for="sourceControlBackup">Backup</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sourceControl" id="sourceControlNone" value="none"
                 data-bind="checked: sourceControl === 'none'">
          <label style="display: inline" for="sourceControlNone">None</label>
        </div>
      </div>
      -->
      <!-- /ko -->

      <!-- ko if: !!$component.config -->
      <p>
        Last deploy<br/>
        <span data-bind="text: $component.config.deployed ? new Date(config.deployed).toLocaleString() : 'The widget hasn’t been deployed yet.'"></span>
      </p>

      <h2>Get started with the development</h2>
      <p>
        Follow the steps below to create, implement, and deploy a custom widget.
        <a href="https://aka.ms/apimdocs/portal/customwidgets" target="_blank">Learn more</a>.
      </p>
      <!-- /ko -->

      <!-- ko if: commandToScaffold() || !!$component.config -->
      <ol style="max-width: 300px; padding: 0 0 0 1.5em;">
        <li>
          Open the terminal, navigate to the location where you want to save the widget, and execute the following command to download the code scaffold:
          <div
            style="display: flex; border: 1px solid #ccc; border-radius: 3px; background: #eee; padding: 3px 3px 3px 1em; white-space: nowrap; align-items: center;"
          >
            <code
              data-bind="text: commandToScaffold"
              style="overflow: hidden; text-overflow: ellipsis;"
            ></code>
            <button class="btn btn-default" data-bind="copyToClipboard: commandToScaffold" aria-label="Copy to clipboard"
                    style="flex-shrink: 0;">
              <i class="paperbits-icon paperbits-single-copy-04"></i>
            </button>
          </div>
        </li>
        <li>
          Navigate to the newly created folder with the widget’s code scaffold:<br/>
          &gt; cd &lt;name-of-the-widget&gt;
        </li>
        <li>
          Open the folder in the code editor of choice. For example:<br/>
          &gt; code .
        </li>
        <li>
          Install the dependencies:<br/>
          &gt; npm install
        </li>
        <li>
          Start the project:<br/>
          &gt; npm start
        </li>
        <li>
          Implement the code of the widget and test it locally.
        </li>
        <li>
          Deploy the custom widget to the developer portal in your API Management service:<br/>
          &gt; node deploy.js
        </li>
      </ol>
      <!-- /ko -->
    </div>
    <div class="flex-item">
      <!-- ko if: !!$component.config -->
      <button class="btn btn-default" data-bind="click: deleteWidget" style="display: none">
        <i class="paperbits-icon paperbits-square-download"></i>
        Delete widget
      </button>
      <!-- /ko -->
      <!-- ko if: !commandToScaffold() && !$component.config -->
      <button type="submit" class="btn btn-default">
        <i class="paperbits-icon paperbits-square-download"></i>
        Create widget
      </button>
      <!-- /ko -->
    </div>
  </div>
</form>
