<form class="create-widget-form" data-bind="submit: submitData">
  <div class="flex flex-column fit">
    <div class="flex-item flex-item-grow form" data-bind="scrollable: true">
      <!-- ko if: !configNew() || !!$component.config -->
      <div class="form-group">
        <label class="form-label" for="displayName">Name</label>
        <div class="input-group">
          <input required type="text" id="displayName" class="form-control"
                 data-bind="textInput: displayName, validationElement: displayName, attr: {disabled: !!$component.config}"
                 maxlength="2000" spellcheck="false" aria-required="true"
          />
          <!-- ko if: !$component.config -->
          <button class="btn btn-danger input-group-btn" data-bind="validationMessageToggle: displayName"
                  type="button">!</button>
          <!-- /ko -->
        </div>
      </div>

      <div class="form-group">
        <label class="form-check-label">Technology</label>
        <!-- ko foreach: { data: techAll, as: 'techObj'} -->
        <div class="form-check">
          <input required class="form-check-input" type="radio" name="technology"
                 data-bind="checked: $component.technology, attr: {id: 'technology-' + techObj.id, value: techObj.id, disabled: !!$component.config}">
          <label data-bind="text: techObj.name, attr: {for: 'technology-' + techObj.id}" style="display: inline"></label>
        </div>
        <!-- /ko -->
      </div>
      <!-- /ko -->

      <!-- ko if: !!$component.config -->
      <p style="margin: 0;">
        Last deployed<br/>
        <!-- ko if: $component.config.deployedOn -->
        <span data-bind="text: new Date(config.deployedOn).toLocaleString(undefined, {timeZoneName: 'short'})"></span><br/>
        <!-- /ko -->
        <!-- ko ifnot: $component.config.deployedOn -->
        <span>The widget hasn't been deployed yet.</span>
        <!-- /ko -->
      </p>

      <details>
        <summary aria-label="Get started with the development">
          <h2>
            <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 8.94531L0.195312 1.14062L1.14062 0.195312L8 7.05469L14.8594 0.195312L15.8047 1.14062L8 8.94531Z" fill="#605E5C"/>
            </svg>
            Get started with the development
          </h2>
        </summary>
        <development-instructions params="{ config: $component.config }"></development-instructions>
      </details>
      <!-- /ko -->

      <!-- ko if: configNew -->
      <development-instructions params="{ config: configNew() }"></development-instructions>
      <!-- /ko -->
    </div>
    <div class="flex-item">
      <!-- ko if: !!$component.config -->
      <button class="btn btn-default" data-bind="click: deleteWidget" style="display: none">
        <i class="paperbits-icon paperbits-square-download"></i>
        Delete widget
      </button>
      <!-- /ko -->
      <!-- ko if: !configNew() && !$component.config -->
      <button type="submit" class="btn btn-default">
        <i class="paperbits-icon paperbits-square-download"></i>
        Create widget
      </button>
      <!-- /ko -->
    </div>
  </div>
</form>
