<p>
  Follow the steps below to create, implement, and deploy a custom widget.
  <a href="https://aka.ms/apimdocs/portal/customwidgets" target="_blank">Learn more</a>.
</p>

<ol class="development-instructions">
  <li>
    Open the terminal, navigate to the location where you want to save the widget, and execute the following command to download the code scaffold:
    <copy-code params="{ code: commandToScaffold }"></copy-code>
  </li>
  <li>
    Navigate to the newly created folder with the widget’s code scaffold:<br/>
    <copy-code params="{ code: 'cd ' + widgetFolderName($component.config.name) }"></copy-code>
  </li>
  <li>
    Open the folder in the code editor of choice. For example:<br/>
    <copy-code params="{ code: 'code .' }"></copy-code>
  </li>
  <li>
    Install the dependencies:<br/>
    <copy-code params="{ code: 'npm install' }"></copy-code>
  </li>
  <li>
    Start the project:<br/>
    <copy-code params="{ code: 'npm start' }"></copy-code>
  </li>
  <li>
    Implement the code of the widget and test it locally.
  </li>
  <li>
    Deploy the custom widget to the developer portal in your API Management service:<br/>
    <copy-code params="{ code: 'npm run deploy' }"></copy-code>
  </li>
</ol>
