<fieldset class="form flex flex-item flex-item-grow no-overflow">
  <div class="form-group flex flex-column" style="display: flex; margin-bottom: 0;">
    <label class="form-label" for="name">
      Name of your widget
      <input type="text" id="name" class="form-control" data-bind="textInput: name" />
    </label>

    <a id="customWidgetDownloadBtn" data-bind="click: downloadScaffold">
      <button>
        Submit
      </button>
    </a>

    <a data-bind="click: registerScaffoldedWidget">
      <button>register widget</button>
    </a>
  </div>
</fieldset>