<fieldset class="form flex flex-item flex-item-grow no-overflow">
    <div class="flex flex-column flex-item flex-item-grow">
        <div class="flex-item">
            <div class="form-group">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" data-bind="textInput: model.widgetDisplayName" disabled />
            </div>

            <size-editor params="{ features: 'width,height', allowUnits: 'px,%', sizeConfig: sizeStyleConfig, onUpdate: onSizeUpdate }">
            </size-editor>

            <label for="allowSameOrigin" class="form-label">
                    <input type="checkbox" id="allowSameOrigin" name="allowSameOrigin" data-bind="checked: allowSameOrigin" />
                    Allow allow-same-origin in iframe sandbox
                    <button class="btn btn-info" type="button" data-bind="tooltip: 'Select this setting to set custom widget &nbsp;<code>iframe</code> sandbox attribute allow-same-origin'"></button>
            </label>

            <h4>Custom properties</h4>
            <p>Custom properties let you adjust values in the custom widget’s code from the administrative user interface of the developer portal, without changing the code or redeploying the custom widget.</p>
        </div>

        <iframe class="flex-item flex-item-grow"
                data-bind="attr: { id: instanceId, src: src, allow: iframeAllows, sandbox: iframeSandboxAllows }"
                height="320"
                frameborder="0"
        ></iframe>
    </div>
</fieldset>
