<!-- ko ifnot: showDetails -->
<div class="container-fluid">
    <div class="panel panel-table">
        <!-- ko ifnot: products -->
        <div class="row">
            No Products to display.
        </div>
        <!-- /ko -->

        <!-- ko if: products -->
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                <!-- ko foreach: products -->
                    <li>
                        <h3><a href="#" class="btn-link" data-bind="click: $parent.selectProduct, text: name"></a></h3>                        
                        <span data-bind="markdown: description"></span>
                    </li>
                <!-- /ko -->
                </ul>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
<!-- ko if: showDetails -->
<h4><a href="#" class="btn-link" data-bind="click: toggleDetails"><< All products</a></h4>  
<product-details></product-details>
<!-- /ko -->