<!-- ko if: working -->
<spinner class="fit"></spinner>
<!-- /ko -->

<!-- ko ifnot: working -->

<!-- ko ifnot: showDetails -->

<!-- ko ifnot: products -->
<p>
    No Products to display.
</p>
<!-- /ko -->

<!-- ko if: products -->
<!-- ko foreach: { data: products, as: 'product' } -->
<h2>
    <a href="#" data-bind="click: $parent.selectProduct, text: name"></a>
</h2>
<p data-bind="markdown: description"></p>
<!-- /ko -->
<!-- /ko -->


<!-- /ko -->

<!-- ko if: showDetails -->
<product-details class="animation-fade-in"></product-details>
<!-- /ko -->

<!-- /ko -->