.badge {
    background: none;
    border: 1px solid #aaa;
    color: #636363;
    border-radius: 0;
}

.badge-soap {
    display: inline;
    font-weight: normal;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 10px;
    padding: 0 2px;
    margin: 2px;

    order: 1;
    vertical-align: middle;
    display: inline;
    line-height: 1.7em;
}