.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: none;
    a {
        text-decoration: underline;
    }
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;

    &::before {
        display: inline-block;
        padding-right: .5rem;
        color: #6c757d;
        content: "/";
    }
}
