.button {
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
        pointer-events: none;
    }

    &.button-noborder {
        border: none;
        background: transparent;
        box-shadow: none;
    }
}

.btn-centered-vert {
    display: flex;
    align-items: center;
    height: 100%;
}

.btn-inline {
    padding-bottom: 1rem;
}
