.flex {
    display: flex;
    min-height: 0; // fixes issue with oveflow in Edge, FF and other browsers
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    flex: 0 1 auto;
    align-self: auto;

    &.flex-item-grow {
        flex: 1 1 auto;
    }
}

.flex-grow {
    flex: 1 ;
}

.flex-wrap {
    flex-wrap: wrap;
}

.expand {
    width: 100%;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}
