.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    flex: 0 1 auto;
    align-self: auto;

    &.flex-item-grow {
        flex: 1 1 auto;
    }
}

.flex-grow {
    flex: 1;
}

.expand {
    width: 100%;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}
