@import "variables.scss";

form {
    padding: 10px;
    flex-grow: 1;
}

.form-control {
    width: 100%;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline .form-check {
    width: 100%;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

.invalid-feedback {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: $form-invalid-color;
    display: none;
}

:invalid~.invalid-feedback,
.invalid~.invalid-feedback {
    display: block;
}

form.needs-validation:invalid {
    [type="submit"] {
        pointer-events: none;
    }
}

input[type="range"] {
    width: 100%;
}

@media (min-width: 576px) {
    .form-inline label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .form-inline .form-group {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 0;
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline input[type=search] {
        width: 100%;
        max-width: 200px;
    }

    .form-inline .form-control-plaintext {
        display: inline-block;
    }

    .form-inline .input-group,
    .form-inline .custom-select {
        width: auto;
    }

    .form-inline .form-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding-left: 0;
    }

    .form-inline .form-check-input {
        position: relative;
        flex-shrink: 0;
        margin-top: 0;
        margin-right: 0.25rem;
        margin-left: 0;
    }
}

.input-group {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    & > :not(:first-child):not(.dropdown):not(.invalid-feedback) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
    }

    &.has-validation > :nth-last-child(n + 3) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-left: -1px;
    }

    &:not(.has-validation) > :not(:last-child):not(.dropdown) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-control {
        flex-grow: 1;
        width: auto;
    }

    .input-group-addon {
        line-height: normal;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }

    .dropdown {
        background: #fff;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
        padding: 20px;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
    }

    .select-badge {
        margin: 0 .5em;
        font-family: $font-family-base;
        font-size: 13px;

        select {
            padding: .625em 1em;
            padding-right: 2.75em;
            border: solid white 1px;
            border-radius: .875em;
            background: #D9D9D9;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .arrow {
            position: absolute;
            width: 2em;
            height: 100%;
            top: 1px;
            right: 2px;
            border-left: solid white 1px;
            pointer-events: none;
        }
    }
}
