@import "variables.scss";

.list {
    .list-item {
        padding: 10px;
        display: block;
        color: $default-text-color;
        cursor: default;

        &:hover {
            background-color: #edebe9;
            text-decoration: none;
        }

        &:focus {
            outline: 1px solid #605e5c;
            text-decoration: none;
        }
    }

    .list-item-empty {
        padding: 10px;
        display: block;
        color: $default-text-color;
    }
}