@import "variables.scss";

@mixin fit($spacing: 0) {
    top: $spacing;
    left: $spacing;
    right: $spacing;
    bottom: $spacing;
    position: absolute;
}

@mixin icon-18px() {
    margin-left: 5px;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}