.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
    
    .page-link {
        border: none;
        position: relative;
        display: block;
        padding: .5rem .5rem;
        line-height: 1.25;
        color: $default-text-color;
        background-color: #fff;
        border: 1px solid $default-text-color;
        margin: 2px;

        &:hover {
            text-decoration: none;
        }  

        .icon {
            font-weight: 900;
        }

        &.active {
            font-weight: bold;
            outline: 1px solid $default-text-color;
        }
    }
}
