.nav-pills {
    margin: 5px 0;

    .nav-item {
        margin: 1px;

        .nav-link {
            border-radius: .25rem;
            font-size: 1.3em;
            padding: 5px 10px;
            border: 1px solid transparent;
            background: inherit;

            &:hover {
                background-color: $border-color-hover;
            }

            &.active {
                border-color: $border-color-active;
            }
        }
    }
}
