@use "variables";

subscriptions-runtime {
    .table .table-head {
        @media (max-width: variables.$breakpoint-md) {
            display: none;
        }
    }

    .table .table-row {
        @media (max-width: variables.$breakpoint-md) {
            display: block;
        }
    
        > div {
            @media (max-width: variables.$breakpoint-md) {
                max-width: 100%;
            }

            .columnheader {
                font-weight: bold;
                margin-bottom: 10px;

                @media (min-width: variables.$breakpoint-md) {
                    display: none;
                }
            }
        }
    }
}