.tabs {
    display: flex;
    flex-wrap: wrap;

    .tab-content {
        width: 100%;
        margin-top: -1px;
        padding: 1em;
        border: 1px solid #ddd;
        order: 1;
    }

    .tab-label {
        border: 1px solid #ddd;
        padding: .7em 1em;
        cursor: pointer;
        z-index: 1;
        margin-left: -1px;
        margin-bottom: 0;
    }
    
    .tab-label:first-of-type {
        margin-left: 0;
    }    

    .tab-content,
    .tab-radio {
        display: none;
    }

    .tab-radio:checked + .tab-label {
        background: #fff;
        border-bottom: 1px solid #fff;
    }

    .tab-radio:checked + .tab-label + .tab-content {
        display: block;
    }
}