@import "variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $default-heading-font-weight;
    line-height: $default-heading-line-height;
    color: $default-heading-color;
}

pre {
    white-space: pre-wrap;
}
