.hidden {
    display: none !important;
}

.empty-media {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc30;
    padding: 10px;
}

.preview {
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    margin: 0 5px;
}

.no-border {
    border: none;
    background: none;
    padding: unset;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.d-block {
    display: block;
    max-width: 100%;
}

.d-contents {
    display: contents;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mb-unset {
    margin-bottom: unset;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover + .text-truncate-tooltip {
        display: block;
    }
}

// Not used yet but can be for a truncatable text
// Usage  example: <div role="columnheader" class="col-2"><div class="text-truncate">Product</div><div class="text-truncate-tooltip">Product</div></div>
.text-truncate-tooltip {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
    width: max-content;
    padding: 5px 10px;
    z-index: 1;
    display: none;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        margin-top: -16px;
        z-index: 1001;
        background: transparent;
        border: 6px solid transparent;
        transform: translateX(-50%);
        border-top-color: transparent;
        border-bottom-color: #000;
        border-bottom-color: hsla(0, 0%, 20%, 0.9);
    }
}

.text-wrap {
    word-wrap: break-word;
    min-width: 0;
}

.text-center {
    text-align: center;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.text-monospace {
    font-family: monospace;
}

.scrollable-x {
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scrollable-y {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.mw-170 {
    min-width: 170px;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.m-0 {
    margin: 0 !important;
}

.max-w-500 {
    max-width: 500px;
}

.fit {
    @include fit;
    flex: 1 1 auto;
}

.scrollable {
    overflow: auto;
}

.stick-to-bottom {
    bottom: 0;
    position: sticky;
}

.combination-type {
    margin-top: 30px;
}

.mt-17 {
    margin-top: 17px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-15 {
    margin-top: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.p-0 {
    padding: 0 !important;
}

.p-20 {
    padding: 20px;
}
