.hidden {
    display: none !important;
}

.empty-media {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc30;
    padding: 10px;
}

.preview {
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;
    margin: 0 5px;
}

.no-border {
    border: none;
    background: none;
    padding: unset;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.d-block {
    display: block;
    max-width: 100%;
}

.d-contents {
    display: contents;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mb-unset {
    margin-bottom: unset;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inherit-color {
    color: inherit !important;
}

.text-wrap {
    word-wrap: break-word;
    min-width: 0;
}

.text-center {
    text-align: center;
}

.text-hide {
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.text-monospace {
    font-family: monospace;
}

.scrollable-x {
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scrollable-y {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.mw-170 {
    min-width: 170px;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.max-w-500 {
    max-width: 500px;
}

.fit {
    @include fit;
    flex: 1 1 auto;
}

.scrollable {
    overflow: auto;
}

.stick-to-bottom {
    bottom: 0;
    position: sticky;
}

.combination-type {
    margin-top: 30px;
}

.mt-17 {
    margin-top: 17px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-15 {
    margin-top: 15px;
}

.mr-20 {
    margin-right: 20px;
}

/*  the markdown surrounds the text with a <p> tag that has properties defined in global styles
    that will overwrite the style defined for the element
*/
.content-inherit-color {
    p {
        color: inherit;
    }
}

.content-inherit-font-weight {
    p {
        font-weight: inherit;
    }
}

.content-inherit-font-style {
    p {
        font-style: inherit;
    }
}