.table-of-contents {
    .nav {
        .nav {
            margin-left: 2px;
            padding-left: 15px;
            border-left: 2px solid #e6e6e6;
        }
    }

    .nav-item {
        display: block;

        .nav-link {
            padding: .2em 0;
        }

        &.active > .nav-link {
            font-weight: bold;
        }
    }

    .nav-link.active {
        color: $link-active-color;
        font-weight: bold;
    }
}
