.tab-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .tab-navs {
        display: flex;
    }

    .tab-content {
        display: none;
        flex-grow: 1;

        &.tab-content-active {
            display: flex;
        }
    }
}
