@import "button.scss";
@import "captcha.scss";
@import "card.scss";
@import "map.scss";
@import "textblock.scss";
@import "collapsibles.scss";
@import "carousel.scss";
@import "tabs.scss";
@import "popups.scss";
@import "tables.scss";
@import "tabs.scss";
@import "picture.scss";

@import "fui/fluentui.scss";
@import "fui/operation-list.scss";
@import "fui/api-details.scss";