name: Test

on:
  pull_request:
    branches: 
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install
        run: npm install

      - name: Run tests
        run: npm run test
  
  end2end-tests:
    runs-on: ubuntu-latest
    
    steps:      
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: npm install

      - name: Clear user directory before tests
        run: if (Test-Path -Path "/puppeteer-data-dir") { Remove-Item -Path "/puppeteer-data-dir" -Recurse -Force }
        shell: pwsh

      - name: Build static data
        run: npm run build-mock-static-data

      - name: Start mock server
        run: npm run serve-website &

      - name: Wait for the server
        run: ./.github/scripts/wait-for-server.ps1 -HostName "http://localhost:8080"
        shell: pwsh

      - name: Run tests
        run: npm run test-e2e
      